.navbar {
  .nav-link {
    cursor: pointer;
    p {
      display: block;
    }
  }
}

.navbar-profile {
  > p {
    font-size: 1.2em;
    text-transform: none;
    margin-right: 7px;
  }
  > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1090px) {
  .navbar-text {
    color: #a9afbbd1 !important;
  }
}

.navbar-text {
  color: black !important;
  &:hover {
    color: white !important;
  }
}
